*{
  margin: 0;
  scroll-behavior: smooth;
}

body{
  cursor: url("./images/cursor.png"),auto;
}

.greenColor{
  color: rgb(13, 136, 13) !important;
}

.redColor{
  color: rgb(190, 28, 28) !important;
}